/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
@import "neat";

//
// NEAT GRID
//
.grid-container {
  @include grid-container;
}

//
// NEAT COLS
//
.col-12 {
  @include grid-column(1);
}

.col-6 {
  @include grid-column(2);
}

.col-4 {
  @include grid-column(3);
}

.col-3 {
  @include grid-column(4);
}

.col-2 {
  @include grid-column(6);
}

.col-1 {
  @include grid-column(12);
}

//
// Top navigation links/menu
//
.top-nav {
  @include grid-container;

  a {
    // color: #fff;

    &:hover {
      color: #fff;
    }

    .item {
      @include grid-column(2);
      border-radius: 7px;
      text-align: center;

      &:hover {
        background-color: #0099aa;
      }

      &.quotify-link {
          font-weight: bold;
          font-size: 15px;
      }
    }
  }
}
